
@media screen and (min-width: 1025px) and (max-width: 1199px){      /*ajustement du slider*/


    #text-slider{
        top: auto;
        margin-top: 10px;
        position: absolute;
        padding: 15px;
        background-color: rgba(0,0,0,0.4);
        bottom: 0 ;
        left: 0;
        text-align: center;
    }

    #slider h1, #slider p {
        color: white;
        width: auto;
        font-size: 22px;
    }

    #fleche-gauche{
        display: none;
    }

    #fleche-droite{
        display: none;
    }

    #trait-slider{
        display: none;
    }
}