
@media screen and (min-width: 700px) and (max-width: 1024px){      /* ajustement du slider et services*/

    #logo{
        margin-left: 25px;
    }

    nav{
        margin-right: 25px;
    }

    #slider{
        background-size: contain;
        background-repeat: no-repeat;
       }

    #text-slider{
        top: auto;
        margin-top: 10px;
        position: absolute;
        text-align: center;
        padding: 15px;
        background-color: rgba(0,0,0,0.4);
        left:0;
        bottom: 0;
    }

    #slider h1, #slider p{
        color: white;
        width: auto;
        font-size: 18px;
    }

    #fleche-gauche{
        display: none;
    }

    #fleche-droite{
        display: none;
    }

    #trait-slider{
        display: none;
    }

    #services{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
