#googlemap {
  border:0
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* --------------- header --------------- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: white;
    opacity: 0.9;
    z-index: 1;
}

section {
     padding: 30px 5px 30px 5px;
     position: relative;
}


#logo{
    margin-left: 50px;
}
        /*---------- menu header ----------*/
nav{
    margin-right: 50px;
}

nav ul{
    padding-left: 0;
}

nav li{
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

nav a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}

nav li:hover{
    border-top: 2px solid rgb(78, 177, 213);
    padding-top: 29px;
}

nav a:hover{
    color: black;
}

/*---------- fin menu header ----------*/

/* --------------- fin header --------------- */

/* --------------- slider --------------- */


img.active {
    display: block;
}

.mySlides {
    width: 100%;
    height: auto;
    display: none;}


#slider{

    width: 100%;
    margin-top: 80px;
    overflow: hidden;
    position: relative;
}

strong{
    color: rgb(78, 177, 213);
}

#slider h1{
    margin: 0;
    color: white;
    width: 590px;
}

#slider p{
    color: white;
    text-decoration: none;
    margin-bottom: 25px;
}

#slider a{
    text-decoration: none;
    color: white;
    background-color: rgb(78, 177, 213);
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgb(68, 148, 187);
}

#text-slider{
    width: 100%;
    position: absolute;
    top: 35%;
    left: 100px;
}


        /*---------- fleches slider ----------*/
.btn-left{
left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;

}

#cercle-gauche{     /* demi cercle slider css*/
    width: 50px;
    height: 50px;
    background: black;
    opacity: 0.6;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    right: 25px;
}

.fa.fa-angle-left{      /*icone fleche*/
    color: white;
    position: relative;
    bottom: 40px;
    left: 5px;
    font-size: 30px;
}

.btn-right{

    position: absolute;
    top: 50%;
    right: 0px;
   transform: translateY(-50%);
   z-index: 2;
   height:50px;
}

#cercle-droite{     /* demi cercle slider css*/
    width: 50px;
    height: 50px;
    background: black;
    opacity: 0.6;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    left: 25px;
}

.fa.fa-angle-right{     /*icone fleche*/
    color: white;
    position: relative;
    bottom: 40px;
    left: 35px;
    font-size: 30px;
}

        /*---------- fin fleches slider ----------*/

        /*---------- trait en bas slider ----------*/

#trait-slider{
    height: 5px;
    width: 100px;
    background-color: rgb(78, 177, 213);
    position: absolute;
    bottom: 0px;
}
        /*---------- trait en bas slider ----------*/

/* --------------- fin slider --------------- */

/* --------------- titre et paragraphe section --------------- */
.titre h2{
    text-align: center;
}

.titre p{
    text-align: center;
    width: 600px;
    margin: auto;
    display: block;

}
/* --------------- fin titre et paragraphe section --------------- */
/* --------------- trait et cercle section --------------- */
.block-trait{
    display: flex;
    justify-content: center;
}

.trait{
    width: 150px;
    height: 1px;
    margin-bottom: 15px;
    background-color: rgb(235, 235, 235);
}
.fa.fa-circle{
    width: 12px;
    font-size:15px;
    background-color: white;
    color: rgb(78, 177, 213);
    border: 6px solid white;
    border-radius: 50%;
    position: relative;
    bottom: 12px;
    left: 60px;
}

/* --------------- fin trait et cercle section --------------- */
/* --------------- section nos services --------------- */
.charte > p {padding-left: 15px;}


#top{ position: absolute;
    top: -80px;}

#nos-services{
    position: absolute;
    top: -80px;

}

#services{
    display: flex;
    justify-content: space-around;
}

#ordi{
    margin-top: 35px;
}

#description{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

        /*---------- logo et cercle ----------*/
span.fa-stack.fa-2x{
    float: left;
    margin: 20px 30px 20px 0px;
}

.fa.fa-line-chart, .fa.fa-cubes, .fa.fa-pie-chart{      /*logo icones*/
    color: rgb(78, 177, 213);
}

.fa.fa-circle-thin{
    border: 1px solid rgb(119, 119, 119);
    border-radius: 50%;
    color: white;

}

.fa-stack.fa-2x .fa.fa-circle{
    font-size: 15px;
    position: absolute;
    left: 52px;
    top: 23px;
}

        /*---------- fin logo et cercle ----------*/

/* --------------- fin section nos services --------------- */
/* --------------- section nos projets --------------- */
#nos-projets{

    padding-top: 30px;
    top: -80px;
    position: absolute;}

#no_padding{
    padding: 0;
}


#bgGris{
    background-color: rgb(245, 245, 245);
}

#nos-projets .fa.fa-circle{
    border-color: rgb(245, 245, 245);
}

        /*---------- menu portfolio ----------*/
#menu-portfolio{
    display: flex;
    justify-content: center;
    margin: 40px 0px 40px 0px;

}

#menu ul{
    background-color: rgb(229, 229, 229);
    padding: 5px 0px 15px 0px;
    border-radius: 5px;
    list-style-type: none;
}

#menu li{
    display: inline;
    padding: 16px 0px 15px 15px;
}

#menu li:hover{
    background-color: rgb(78, 177, 213);
    border-bottom: 5px solid rgb(70, 140, 173);
}

#menu li:nth-child(1):hover{
    border-radius: 5px 0px 0px 5px;
}

#menu li:nth-child(4):hover{
    border-radius: 0px 5px 5px 0px;
}

#menu a{
    text-decoration: none;
    color: rgb(118, 121, 126);
}

#menu li:hover a{
    color: white;
}

#menu li .fa.fa-caret-down{     /* triangle en dessous du menu portfolio */
    opacity: 0;
    font-size: 30px;
    position: relative;
    top: 36px;
    right: 37px;
    color: rgb(70, 140, 173)
}

#menu ul li:nth-child(1) i{
    right: 40px !important;
}

#menu ul li:nth-child(3) i{
    right:43px !important;
}

#menu li:hover .fa.fa-caret-down{
    opacity: 1;
}

        /*---------- fin menu portfolio ----------*/

#portfolio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

figure{
    height: 233px;
    position: relative;
}

figure img{
    width: 350px;
}

figcaption{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    bottom: 0px;
    visibility: hidden;
    width: 350px;
}

figcaption h3, figcaption p{
    margin-left: 15px;

}

figure:hover figcaption{
    visibility: visible;
}

.eye{   /* oeil sur le figcaption*/
    height: 30px;
    width: 30px;
    background-color: rgb(78, 177, 213);
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 10px;
}

.fa.fa-eye{
    position: relative;
    top: 5px;
    left: 7px;
}

/* --------------- fin section nos projets --------------- */
/* --------------- section nous contacter --------------- */

#nous-contacter{

    position: absolute;
    width: 100%;
    padding: 0;
    top: -80px;
}

#formulaire{
    background-color: rgba(245, 245, 245, 0.8);
    padding: 15px 15px 15px 15px;
    width: 270px;
    height: 455px;
    position: absolute;
    top: 100px;
    right: 100px;
}

input[type="submit"]{
    background-color: rgb(78, 177, 213);
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin-left: 10px;
}

input[type="text"]{
    width: 250px;
}

input[type="email"]{
    width: 250px;
}

textarea{
    width: 250px;
}

        /* ---------- carte google map ---------- */
iframe{
    width: 100%;
    opacity: 0.7;
}

#google-map{
    height: 600px;
    z-index: 1;
    background-color: rgb(78, 177, 213);
}
        /* ---------- fin carte google map ---------- */
/* --------------- fin section nous contacter --------------- */





/*
@media screen and (min-width: 1200px) and (max-width: 1400px){     /* ajustement pour l'image slider
    #slider{
     background-position-x: -200px;
    }
}*/
