/* ------------------------------ responsive mobile ------------------------------ */

@media screen and (max-width: 700px){
    * {
		box-sizing: border-box;
	}



	body {
		width: auto;
		margin: 0;
		padding: 0;
    }



/* --------------- header --------------- */
    header{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    #logo{
        margin-left: 0;
    }

    nav{
        margin-right: 0;
    }

    nav li{
        display: inline;
        padding-left: 0;
        padding-right: 15px;
    }

    nav li:hover{
        border-top: none;
        padding-top: 0;
    }

    nav ul{
        margin: 0;
        padding: 0;
    }
/* --------------- fin header --------------- */

/* --------------- slider --------------- */
    #slider{
        background-image: none;
        max-width: 100%;
        height: auto;
        margin-top: 100px;
        overflow: hidden;
        position: relative;
    }

    #text-slider{
        top: auto;
        position: absolute;
        text-align: center;
        padding: 15px;
        background-color: rgba(0,0,0,0.4);
        left:0;
        bottom: 0;
    }

    #text-slider h1{
        width: auto;
        color: white;
        font-size: 20px;
    }

    #text-slider p{
        width: auto;
        color: white;
    }

    #ordi img {
      display: none;
    }

    #fleche-gauche, #fleche-droite{
        display: none;
    }

    #trait-slider{
        display: none;
    }
/* --------------- fin slider --------------- */

/* --------------- titre et cercle block-trait --------------- */
    .titre p{
        width: auto;
        padding: 0px 5px 0px 5px;
    }

    .fa.fa-circle{
        width: auto;
    }
/* --------------- fin titre et cercle block-trait --------------- */

/* --------------- nos-services --------------- */
    #services{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #ordi img{
        max-width: 100%;
        height: auto;
    }

    span.fa-stack.fa-2x{
        float: none;
    }

    .charte{
        padding-left: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .charte span {
      flex-shrink: 0;
    }
/* --------------- fin nos-services --------------- */

/* --------------- nos-projets --------------- */

    /*---------- menu portofolio ----------*/
    #menu ul{
        background-color: rgb(229, 229, 229);
        padding: 5px 0px 5px 0px;
        border-radius: 5px;
        list-style-type: none;
    }

    #menu li{
        display: inline;
        padding: 5px 5px 5px 5px;
    }

    #menu li:hover{
        background-color: rgb(78, 177, 213);
        border-bottom: none;
    }

    #menu li .fa.fa-caret-down{
       display: none;
    }

    /*---------- fin menu portofolio ----------*/

    figure{
        height: auto;
        overflow: hidden;
    }

    figure img{
        max-width: 100%;
    }

    figcaption{
        max-width: 100%;
        height: auto;
        position: absolute;
        bottom: 3px;
    }

    figcaption h3, figcaption p{
        margin: 10px 5px 10px 5px;
    }

    .fa.fa-eye{
        top: 3px;
        left: 5px;
    }
/* --------------- fin nos-projets --------------- */

    #formulaire{
        background-color: rgba(245, 245, 245, 0.1);
        margin-top: 10px;
        padding: 15px 15px 15px 15px;
        width: 100%;
        height: 500px;
        position: initial;
        text-align: center;
    }
    h3 {min-width: 60px;
        max-width: 60px;
    }

}
/* ------------------------------ fin responsive mobile ------------------------------- */
